<h1>Welcome, <a href="/users/<%= current_user.username %>"><%= current_user.username %></a></h1>
<form action='/tweets/new' method="get">
        <input type="submit" id="submit" value="New Tweet">
        </form>
        &ensp;
        <form action='/logout' method="get">
        <input type="submit" id="submit" value="Log Out">
        </form>
        &ensp;

    <%if @tweet == nil && @tweets.size == 0%>
        <h3> You don't appear to have Tweets.</h3>
    <%end%>

    <%if @tweets%>
        
        <% @tweets.each do |tweet|%>
                <p><h3><a href="/tweets/<%=tweet.id%>"><%=tweet.id%>.</a> &ensp;
                       <a href="/users/<%= tweet.user.slug %>"><%= tweet.user.slug %></a> : <%= tweet.content %> <h3></p>
            
        <%end%>
    <%else%>
        <form action='/tweets' method="get">
            <input type="submit" id="submit" value="All Tweets">
        </form>
        
            <h3><p><a href="/users/<%= @tweet.user.slug %>"><%= @tweet.user.slug %></a> : <%=@tweet.content%></p></h3>
        
        <form action='/tweets/<%= @tweet.id %>' method="post">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" id="submit" value="Delete Tweet">
        </form>
        <br>
        <form action='/tweets/<%= @tweet.id %>/edit' method="get">
        <input type="submit" id="submit" value="Edit Tweet">
        </form>
    <%end%>

